body {
  box-sizing: border-box;
  background-color: darkgrey;
}

.body {
  display: flex; 
  justify-content: space-between;
  max-width: 99%;
  margin: 0 auto;
}

.board {
  position: relative;
  display: flex;
  padding-top: 30px;

}

.board__body {
  position: relative;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: deepskyblue;
}

li {
  list-style-type: none;
}

.board__list{
  padding: 0;
  margin: 0;
}

.board__list > li {
  font-size: 20px;
  color: forestgreen;
}

.board__letters {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 10px;
}

.board__number {
  position: absolute;
  top: 0;
  left: 35px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

td {
  width: 45px;
  height: 45px;
  border: 1px solid red;
}
