body {
  box-sizing: border-box;
  background-color: darkgrey;
}

.body {
  display: flex; 
  justify-content: space-between;
  max-width: 99%;
  margin: 0 auto;
}

.board {
  position: relative;
  display: flex;
  padding-top: 30px;

}

.board__body {
  position: relative;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: deepskyblue;
}

li {
  list-style-type: none;
}

.board__list{
  padding: 0;
  margin: 0;
}

.board__list > li {
  font-size: 20px;
  color: forestgreen;
}

.board__letters {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 10px;
}

.board__number {
  position: absolute;
  top: 0;
  left: 35px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

td {
  width: 45px;
  height: 45px;
  border: 1px solid red;
}
td:hover ~ td {
  background-color: rgba(44, 0, 222, .2);;
}


.info__ship--table > tr > td {
  border-collapse: separate;
  background-color: mediumblue;
}

.info__ship {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  border: 1px solid transparent;

}
.info__ship > table {
  border-spacing: 5px;
}

.info__ship--calc {
  font-size: 20px;
}
.info__ship--calc > em {
  font-size: 24px;
  font-family: serif;
  font-weight: 700;
  margin-left: 20px;
}

.info__ship--selected {
  border: 1px solid green;
}

.position {
  font-size: 30px;
  margin-top: 20px;
}